* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Poppins", sans-serif;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 100vh;
    width: 100vw;

    background-image: url(https://i.postimg.cc/rmJ3yR73/Isla.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

  /* background-color: white; */

    height: 100%;
    width: 100%;

    overflow: scroll;
}

.header {
    width: 100%;
    height: 10%;

    background-image: url(https://i.postimg.cc/ht1bk02d/Logo.jpg);
    background-color: black;
    background-repeat: repeat-x;
    background-position: center center;
}

.form_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 50%;

    padding: 0.5%;
}

.form_container img {
    width: 45%;
    height: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 0.5%;
    flex-wrap: wrap;

    width: 40%;
    height: 100%;
}

.form_div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 15%;
    gap: 10%;
}

.form_buttons {
    flex-direction: column;
}

input {
    border: none;
    border-bottom: 2px solid black;

    background: transparent;

    padding: 1%;
}

input:focus {
    outline: none;
    border-color: rgb(15, 15, 16);
}

::placeholder {
    color: rgb(7, 7, 24);
    opacity: 0.5;
}

input[type="date"] {
    height: fit-content;
}

.btn {
    border-radius: 5px;
    border: none;
    padding: 5px;
    background: black;
    color: white;

    transition: 0.5s;
}

.btn:hover {
    background-color: rgb(237, 237, 255);
}

.data {
    height: 10%;
    padding: 1%;
}

.table {
    width: 100%;
    border: 2px solid black;
    border-collapse: collapse;
}

.table th {
    padding: 0.5%;
    border-bottom: 2px solid black;
}

.table tr:first-child {
    background-color: black;
    color: white;
}

.cards_container {
    display: flex;
    flex-direction: row;
    gap: 2%;
    width: 100%;
    height: 50%;

    padding: 2%;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;

    transform-style: preserve-3d;
    perspective-origin: 50% 50%;
    perspective: 500px;
    backface-visibility: hidden;

    border: 2px solid black;
    border-top: 20px solid black;
    border-radius: 2%;

    transition: 1s;

    box-shadow: 2px 2px 5px #595959;
}

.card:hover {
    border-color: blue;
    box-shadow: 2px 2px 5px blue;
}

.card_todo {
    width: 100%;
    height: 100%;

    position: relative;

    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.card_front,
.card_back {
    width: 100%;
    height: 100%;

    top: px;
    position: absolute;

    backface-visibility: hidden;
}

.card_back {
    transform: rotateX(180deg);
}

.card_back img {
    width: 100%;
    height: 100%;
}

.card:hover .card_todo {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    transform: rotateX(180deg);
}

.card__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 30%;
}

.card__title h2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    height: 100%;
    width: 100%;
}

.card__title img {
    width: 30%;
    height: 70%;
}
.card__title--small {
    font-size: small;
}
.card__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    overflow: scroll;

    width: 100%;
    height: 70%;

    padding: 2%;

    text-shadow: 2px 1px 2px white;
}

.hidden {
    display: none;
}

